-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: glowguide_db
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `administrator`
--

DROP TABLE IF EXISTS `administrator`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `administrator` (
  `id` int NOT NULL AUTO_INCREMENT,
  `utilizatorId` int NOT NULL,
  `nume` varchar(100) COLLATE utf8mb4_romanian_ci NOT NULL,
  `prenume` varchar(100) COLLATE utf8mb4_romanian_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `utilizatorId` (`utilizatorId`),
  CONSTRAINT `administrator_ibfk_1` FOREIGN KEY (`utilizatorId`) REFERENCES `utilizator` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_romanian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `administrator`
--

LOCK TABLES `administrator` WRITE;
/*!40000 ALTER TABLE `administrator` DISABLE KEYS */;
INSERT INTO `administrator` VALUES (1,1,'Crainiceanu','Madalina');
/*!40000 ALTER TABLE `administrator` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faq`
--

DROP TABLE IF EXISTS `faq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `faq` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cuvinteCheie` varchar(255) COLLATE utf8mb4_romanian_ci DEFAULT NULL,
  `intrebare` text COLLATE utf8mb4_romanian_ci,
  `raspuns` text COLLATE utf8mb4_romanian_ci NOT NULL,
  `categorie` enum('rutina','ingrediente','produse','probleme_piele','general') COLLATE utf8mb4_romanian_ci DEFAULT NULL,
  `numarAfisari` int DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_cuvinte` (`cuvinteCheie`),
  FULLTEXT KEY `idx_intrebare` (`intrebare`)
) ENGINE=InnoDB AUTO_INCREMENT=295 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_romanian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faq`
--

LOCK TABLES `faq` WRITE;
/*!40000 ALTER TABLE `faq` DISABLE KEYS */;
/*!40000 ALTER TABLE `faq` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ingredient`
--

DROP TABLE IF EXISTS `ingredient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ingredient` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nume` varchar(100) COLLATE utf8mb4_romanian_ci NOT NULL,
  `descriere` text COLLATE utf8mb4_romanian_ci,
  `categorie` enum('activ','emollient','umectant','conservant','parfum','altele') COLLATE utf8mb4_romanian_ci DEFAULT NULL,
  `potentialAlergen` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `nume` (`nume`),
  KEY `idx_nume` (`nume`),
  KEY `idx_alergen` (`potentialAlergen`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_romanian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ingredient`
--

LOCK TABLES `ingredient` WRITE;
/*!40000 ALTER TABLE `ingredient` DISABLE KEYS */;
INSERT INTO `ingredient` VALUES (1,'Acid Hialuronic','Hidrateaza si mentine apa in tesuturi','umectant',0),(2,'Niacinamide','Regleaza sebumul si uniformizeaza nuanta pielii','activ',0),(3,'Acid Salicilic (BHA)','Exfoliant chimic ce curata porii in profunzime','activ',0),(4,'Parfum (Fragrance)','Ofera un miros placut, dar poate irita','parfum',1),(5,'Ceramide',NULL,'emollient',0);
/*!40000 ALTER TABLE `ingredient` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jurnalprogres`
--

DROP TABLE IF EXISTS `jurnalprogres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jurnalprogres` (
  `id` int NOT NULL AUTO_INCREMENT,
  `membruId` int NOT NULL,
  `imagePath` varchar(500) COLLATE utf8mb4_romanian_ci DEFAULT NULL,
  `observatii` text COLLATE utf8mb4_romanian_ci,
  `rating` tinyint NOT NULL,
  `dataIntrare` date NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_membru_data` (`membruId`,`dataIntrare`),
  CONSTRAINT `jurnalprogres_ibfk_1` FOREIGN KEY (`membruId`) REFERENCES `membru` (`id`) ON DELETE CASCADE,
  CONSTRAINT `jurnalprogres_chk_1` CHECK ((`rating` between 1 and 10))
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_romanian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jurnalprogres`
--

LOCK TABLES `jurnalprogres` WRITE;
/*!40000 ALTER TABLE `jurnalprogres` DISABLE KEYS */;
/*!40000 ALTER TABLE `jurnalprogres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `likepostare`
--

DROP TABLE IF EXISTS `likepostare`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `likepostare` (
  `id` int NOT NULL AUTO_INCREMENT,
  `postareId` int NOT NULL,
  `membruId` int NOT NULL,
  `dataLike` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_like` (`postareId`,`membruId`),
  KEY `membruId` (`membruId`),
  CONSTRAINT `likepostare_ibfk_1` FOREIGN KEY (`postareId`) REFERENCES `postare` (`id`) ON DELETE CASCADE,
  CONSTRAINT `likepostare_ibfk_2` FOREIGN KEY (`membruId`) REFERENCES `membru` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_romanian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `likepostare`
--

LOCK TABLES `likepostare` WRITE;
/*!40000 ALTER TABLE `likepostare` DISABLE KEYS */;
INSERT INTO `likepostare` VALUES (2,3,2,'2026-03-06 23:55:48'),(3,2,2,'2026-03-06 23:55:55'),(4,6,2,'2026-03-07 00:24:24');
/*!40000 ALTER TABLE `likepostare` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `membru`
--

DROP TABLE IF EXISTS `membru`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `membru` (
  `id` int NOT NULL AUTO_INCREMENT,
  `utilizatorId` int NOT NULL,
  `nume` varchar(100) COLLATE utf8mb4_romanian_ci NOT NULL,
  `prenume` varchar(100) COLLATE utf8mb4_romanian_ci NOT NULL,
  `dataNasterii` date DEFAULT NULL,
  `gen` enum('feminin','masculin','altul','prefer_sa_nu_specific') COLLATE utf8mb4_romanian_ci DEFAULT NULL,
  `avatarUrl` varchar(500) COLLATE utf8mb4_romanian_ci DEFAULT NULL,
  `nivelExperienta` enum('incepator','intermediar','avansat') COLLATE utf8mb4_romanian_ci DEFAULT 'incepator',
  PRIMARY KEY (`id`),
  UNIQUE KEY `utilizatorId` (`utilizatorId`),
  CONSTRAINT `membru_ibfk_1` FOREIGN KEY (`utilizatorId`) REFERENCES `utilizator` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_romanian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `membru`
--

LOCK TABLES `membru` WRITE;
/*!40000 ALTER TABLE `membru` DISABLE KEYS */;
INSERT INTO `membru` VALUES (1,2,'Popescu','Ioana','2001-05-15','feminin',NULL,'incepator'),(2,3,'Popescu','Mara',NULL,NULL,NULL,'incepator'),(3,4,'Admin','GlowGuide',NULL,NULL,NULL,'incepator'),(4,5,'Crainiceanu','Madalina',NULL,NULL,NULL,'incepator'),(5,6,'M','C',NULL,NULL,NULL,'incepator'),(6,7,'c','d',NULL,NULL,NULL,'incepator');
/*!40000 ALTER TABLE `membru` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `postare`
--

DROP TABLE IF EXISTS `postare`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `postare` (
  `id` int NOT NULL AUTO_INCREMENT,
  `membruId` int DEFAULT NULL,
  `titlu` varchar(200) COLLATE utf8mb4_romanian_ci NOT NULL,
  `continut` text COLLATE utf8mb4_romanian_ci NOT NULL,
  `status` enum('in_asteptare','publicata','respinsa') COLLATE utf8mb4_romanian_ci DEFAULT 'in_asteptare',
  `dataPostare` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `membruId` (`membruId`),
  KEY `idx_status` (`status`),
  KEY `idx_data` (`dataPostare`),
  CONSTRAINT `postare_ibfk_1` FOREIGN KEY (`membruId`) REFERENCES `membru` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_romanian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `postare`
--

LOCK TABLES `postare` WRITE;
/*!40000 ALTER TABLE `postare` DISABLE KEYS */;
/*!40000 ALTER TABLE `postare` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produs`
--

DROP TABLE IF EXISTS `produs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `produs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nume` varchar(200) COLLATE utf8mb4_romanian_ci NOT NULL,
  `brand` varchar(100) COLLATE utf8mb4_romanian_ci DEFAULT NULL,
  `categorie` enum('curatare','toner','ser','hidratant','spf','masca','exfoliant') COLLATE utf8mb4_romanian_ci DEFAULT NULL,
  `tipTenRecomandat` set('uscat','normal','mixt','gras','sensibil') COLLATE utf8mb4_romanian_ci DEFAULT NULL,
  `obiectiv` set('hidratare','anti-aging','anti-acnee','uniformizare','protectie') COLLATE utf8mb4_romanian_ci DEFAULT NULL,
  `pret` decimal(10,2) DEFAULT NULL,
  `rating` decimal(3,2) DEFAULT '0.00',
  `descriere` text COLLATE utf8mb4_romanian_ci,
  `dataAdaugare` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_brand` (`brand`),
  KEY `idx_categorie` (`categorie`),
  KEY `idx_rating` (`rating`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_romanian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produs`
--

LOCK TABLES `produs` WRITE;
/*!40000 ALTER TABLE `produs` DISABLE KEYS */;
/*!40000 ALTER TABLE `produs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produsingredient`
--

DROP TABLE IF EXISTS `produsingredient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `produsingredient` (
  `produsId` int NOT NULL,
  `ingredientId` int NOT NULL,
  `concentratie` decimal(5,2) DEFAULT NULL,
  `ordineLista` int DEFAULT NULL,
  PRIMARY KEY (`produsId`,`ingredientId`),
  KEY `ingredientId` (`ingredientId`),
  CONSTRAINT `produsingredient_ibfk_1` FOREIGN KEY (`produsId`) REFERENCES `produs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `produsingredient_ibfk_2` FOREIGN KEY (`ingredientId`) REFERENCES `ingredient` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_romanian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produsingredient`
--

LOCK TABLES `produsingredient` WRITE;
/*!40000 ALTER TABLE `produsingredient` DISABLE KEYS */;
INSERT INTO `produsingredient` VALUES (1,1,1.00,4),(1,2,4.00,2),(1,5,NULL,NULL),(2,2,10.00,1),(2,3,NULL,NULL),(3,1,2.00,2),(3,2,NULL,NULL),(3,4,NULL,15),(4,1,NULL,NULL),(5,2,NULL,NULL),(6,5,NULL,NULL);
/*!40000 ALTER TABLE `produsingredient` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profildermatologic`
--

DROP TABLE IF EXISTS `profildermatologic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profildermatologic` (
  `id` int NOT NULL AUTO_INCREMENT,
  `membruId` int NOT NULL,
  `tipTen` enum('uscat','normal','mixt','gras','sensibil') COLLATE utf8mb4_romanian_ci NOT NULL,
  `imagePath` varchar(500) COLLATE utf8mb4_romanian_ci DEFAULT NULL,
  `alergii` text COLLATE utf8mb4_romanian_ci,
  `probleme` text COLLATE utf8mb4_romanian_ci,
  `obiective` text COLLATE utf8mb4_romanian_ci,
  `nivelSensibilitate` tinyint unsigned DEFAULT NULL,
  `varsta` int DEFAULT NULL,
  `dataCreare` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `dataActualizare` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `membruId` (`membruId`),
  CONSTRAINT `profildermatologic_ibfk_1` FOREIGN KEY (`membruId`) REFERENCES `membru` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_romanian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profildermatologic`
--

LOCK TABLES `profildermatologic` WRITE;
/*!40000 ALTER TABLE `profildermatologic` DISABLE KEYS */;
INSERT INTO `profildermatologic` VALUES (1,1,'mixt',NULL,'[\"parabeni\", \"alcool\"]','[\"acnee\"]','[\"hidratare\"]',NULL,NULL,'2026-02-27 11:35:21','2026-02-27 11:35:21'),(4,2,'sensibil',NULL,'[\"alcool\"]','[\"tendin╚¢─â acneic─â\"]',NULL,NULL,NULL,'2026-02-27 12:42:24','2026-03-07 00:23:05'),(8,5,'sensibil',NULL,'[\"alcool\"]','[]',NULL,NULL,NULL,'2026-03-06 22:46:29','2026-03-06 22:58:21');
/*!40000 ALTER TABLE `profildermatologic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `raspunspostare`
--

DROP TABLE IF EXISTS `raspunspostare`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `raspunspostare` (
  `id` int NOT NULL AUTO_INCREMENT,
  `postareId` int NOT NULL,
  `membruId` int NOT NULL,
  `continut` text COLLATE utf8mb4_romanian_ci NOT NULL,
  `dataRaspuns` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `membruId` (`membruId`),
  KEY `idx_postare` (`postareId`),
  CONSTRAINT `raspunspostare_ibfk_1` FOREIGN KEY (`postareId`) REFERENCES `postare` (`id`) ON DELETE CASCADE,
  CONSTRAINT `raspunspostare_ibfk_2` FOREIGN KEY (`membruId`) REFERENCES `membru` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_romanian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `raspunspostare`
--

LOCK TABLES `raspunspostare` WRITE;
/*!40000 ALTER TABLE `raspunspostare` DISABLE KEYS */;
INSERT INTO `raspunspostare` VALUES (1,1,2,'da am folosit eu si nu e ok\n','2026-03-06 19:25:44'),(2,6,2,'da','2026-03-07 00:24:28');
/*!40000 ALTER TABLE `raspunspostare` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rutina`
--

DROP TABLE IF EXISTS `rutina`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rutina` (
  `id` int NOT NULL AUTO_INCREMENT,
  `membruId` int NOT NULL,
  `tip` enum('zi','seara','completa') COLLATE utf8mb4_romanian_ci DEFAULT 'completa',
  `status` enum('generata','activa','arhivata') COLLATE utf8mb4_romanian_ci DEFAULT 'generata',
  `dataGenerarii` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_membru_status` (`membruId`,`status`),
  CONSTRAINT `rutina_ibfk_1` FOREIGN KEY (`membruId`) REFERENCES `membru` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_romanian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rutina`
--

LOCK TABLES `rutina` WRITE;
/*!40000 ALTER TABLE `rutina` DISABLE KEYS */;
INSERT INTO `rutina` VALUES (1,1,'completa','activa','2026-02-27 11:37:03'),(2,2,'completa','arhivata','2026-02-27 12:42:28'),(3,2,'completa','arhivata','2026-02-27 13:01:08'),(4,2,'completa','arhivata','2026-02-27 13:09:17'),(5,2,'completa','arhivata','2026-02-27 13:10:24'),(6,5,'completa','arhivata','2026-03-06 22:46:36'),(7,5,'completa','arhivata','2026-03-06 22:46:46'),(8,5,'completa','arhivata','2026-03-06 22:57:29'),(9,5,'completa','activa','2026-03-06 22:58:26'),(10,2,'completa','activa','2026-03-06 23:09:42');
/*!40000 ALTER TABLE `rutina` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rutinaprodus`
--

DROP TABLE IF EXISTS `rutinaprodus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rutinaprodus` (
  `rutinaId` int NOT NULL,
  `produsId` int NOT NULL,
  `ordineAplicare` int NOT NULL,
  `scorProdus` decimal(4,2) DEFAULT NULL,
  PRIMARY KEY (`rutinaId`,`produsId`),
  KEY `produsId` (`produsId`),
  CONSTRAINT `rutinaprodus_ibfk_1` FOREIGN KEY (`rutinaId`) REFERENCES `rutina` (`id`) ON DELETE CASCADE,
  CONSTRAINT `rutinaprodus_ibfk_2` FOREIGN KEY (`produsId`) REFERENCES `produs` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_romanian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rutinaprodus`
--

LOCK TABLES `rutinaprodus` WRITE;
/*!40000 ALTER TABLE `rutinaprodus` DISABLE KEYS */;
INSERT INTO `rutinaprodus` VALUES (1,1,1,NULL),(1,4,2,NULL),(1,5,3,NULL),(1,6,4,NULL),(2,4,1,NULL),(2,6,2,NULL),(3,1,1,NULL),(3,4,2,NULL),(3,5,3,NULL),(3,6,4,NULL),(4,6,1,NULL),(5,1,1,NULL),(5,4,2,NULL),(5,5,3,NULL),(5,6,4,NULL),(6,5,1,NULL),(7,5,1,NULL),(8,5,1,NULL),(9,6,1,NULL),(10,1,1,NULL),(10,4,2,NULL),(10,5,3,NULL),(10,6,4,NULL);
/*!40000 ALTER TABLE `rutinaprodus` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `actualizarePopularitateProdus` AFTER INSERT ON `rutinaprodus` FOR EACH ROW BEGIN
    UPDATE Produs
    SET rating = LEAST(rating + 0.01, 5.00)
    WHERE id = NEW.produsId;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `utilizator`
--

DROP TABLE IF EXISTS `utilizator`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilizator` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(100) COLLATE utf8mb4_romanian_ci NOT NULL,
  `parola` varchar(255) COLLATE utf8mb4_romanian_ci NOT NULL,
  `rol` enum('membru','admin') COLLATE utf8mb4_romanian_ci DEFAULT 'membru',
  `dataInregistrare` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `esteActiv` tinyint(1) DEFAULT '1',
  `dataCreare` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_romanian_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilizator`
--

LOCK TABLES `utilizator` WRITE;
/*!40000 ALTER TABLE `utilizator` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilizator` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-07 23:34:45
